.flex-horiz {
  display: flex;
  flex-direction: row;
}
.flex-vert {
  display: flex;
  flex-direction: column;
}
.flex-spacer {
  flex-grow: 1;
}
.no-select {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.board {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  table-layout: fixed;
  border-width: 0px;
  border-collapse: collapse;
}
.board td,
.board th {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}
.board .board-space {
  vertical-align: top;
}
.board .board-space.light {
  background-color: #cab17c;
}
.board .board-space.light:hover:empty {
  background-color: #b4b76b;
}
.board .board-space.light.legal-move {
  background-color: #929e9e;
}
.board .board-space.light.threatened {
  background-color: #d98b64;
}
.board .board-space.light.drop {
  background-color: #ddc565 !important;
}
.board .board-space.dark {
  background-color: #8c7034;
}
.board .board-space.dark:hover:empty {
  background-color: #8c8d3c;
}
.board .board-space.dark.legal-move {
  background-color: #6a7470;
}
.board .board-space.dark.threatened {
  background-color: #b06035;
}
.board .board-space.dark.drop {
  background-color: #b49b36 !important;
}
.board .board-space.square {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.board .board-header {
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
}
.board .board-header.file {
  width: 80px;
  height: 32px;
}
.board .board-header.rank {
  height: 80px;
  width: 32px;
}
.piece {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.piece:hover:not(.captured) {
  filter: url("assets/filters.svg#blue-glow");
}
.piece.threatened {
  filter: url("assets/filters.svg#red-glow");
}
.piece.protected {
  filter: url("assets/filters.svg#yellow-glow");
}
.piece.king.white {
  background-image: url("assets/pieces.svg#white-king");
}
.piece.king.black {
  background-image: url("assets/pieces.svg#black-king");
}
.piece.queen.white {
  background-image: url("assets/pieces.svg#white-queen");
}
.piece.queen.black {
  background-image: url("assets/pieces.svg#black-queen");
}
.piece.bishop.white {
  background-image: url("assets/pieces.svg#white-bishop");
}
.piece.bishop.black {
  background-image: url("assets/pieces.svg#black-bishop");
}
.piece.knight.white {
  background-image: url("assets/pieces.svg#white-knight");
}
.piece.knight.black {
  background-image: url("assets/pieces.svg#black-knight");
}
.piece.rook.white {
  background-image: url("assets/pieces.svg#white-rook");
}
.piece.rook.black {
  background-image: url("assets/pieces.svg#black-rook");
}
.piece.pawn.white {
  background-image: url("assets/pieces.svg#white-pawn");
}
.piece.pawn.black {
  background-image: url("assets/pieces.svg#black-pawn");
}
.piece.quantum {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 62.85714286px;
  text-align: right;
  font-family: monospace;
  font-size: 22.85714286px;
  text-shadow: 0 0 3px #ba160a, 0 0 5px #290502;
  color: #f44336;
}
.graveyard {
  border: 1px solid black;
  width: 200px;
  height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.graveyard .piece {
  width: 40px;
  height: 40px;
  margin: 0;
}
#turn-indicator-container {
  height: 80px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 16px;
}
#turn-indicator {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}
#turn-indicator.white {
  background-image: url("assets/pieces.svg#white-king");
}
#turn-indicator.black {
  background-image: url("assets/pieces.svg#black-king");
}
